.contact-img { /* Image at the entrance of the site */
     width: 100%;
     height: 100vh;
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     background-image: linear-gradient(
         rgba(0, 0, 0, 0.2),
         rgba(0, 0, 0, 0.4),
         rgba(0, 0, 0, 0.7)
       ),
       url('../assets/img/landing-image.png');
     display: flex;
     justify-content: center;;
     flex-direction: column;
   }

   .main-title {
     color: white;
     font-size: 3rem;
     font-weight: bold;
     display: inline-block;
     align-self: center;
   }

   
   .sub-title {
    color: hsla(0, 0%, 100%, 0.7);
    font-size: 1.5rem;
    font-weight: bold;
    display: inline-block;
    align-self: center;
  }

  ol {
    letter-spacing: 0.5px;
    justify-items: flex-start;
    font-size: 1.2rem;
}